div.contentRotatorCollection div.crcInterval,div.contentRotatorCollection div.crcType{display:none}div.contentRotatorCollection{overflow:hidden}div.contentRotatorItem{display:none}div.criContainer{position:relative}div.regionOuter.quotemod-dark{background-color:#454545;color:#fff}div.regionOuter.quotemod-light{background-color:#fff;color:#454545}div.regionOuter.quotemod-dark div.quotemodContent,div.regionOuter.quotemod-light div.quotemodContent{margin-top:67px;margin-bottom:67px}div.regionOuter.quotemod-dark .headingXL.quotemodHeading,div.regionOuter.quotemod-light .headingXL.quotemodHeading{font-weight:200}div.regionOuter.quotemod-dark .headingXXL.quotemodHeading,div.regionOuter.quotemod-light .headingXXL.quotemodHeading{font-weight:200}div.regionOuter.quotemod-dark .para{font-size:19px;line-height:25px;color:#fff}div.regionOuter.quotemod-light .para{font-size:19px;line-height:25px;color:#454545}div.alignInlineImagesBottom .para image.embedObject{vertical-align:bottom}div.contentRotatorCollection .headingXXL,div.contentRotatorCollection .headingXL,div.contentRotatorCollection .headingL,div.contentRotatorCollection .headingM,div.contentRotatorCollection .headingS,div.contentRotatorCollection .headingXS{margin-left:0;margin-right:0}﻿
/*
     FILE ARCHIVED ON ﻿19:14:37 Aug 07, 2013﻿ AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON ﻿02:23:32 Oct 18, 2024﻿.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
﻿playback timings (ms):
﻿  ﻿captures_list﻿: ﻿0.415﻿
﻿  ﻿exclusion.robots﻿: ﻿0.013﻿
﻿  ﻿exclusion.robots.policy﻿: ﻿0.007﻿
﻿  ﻿esindex﻿: ﻿0.008﻿
﻿  ﻿cdx.remote﻿: ﻿6.55﻿
﻿  ﻿LoadShardBlock﻿: ﻿68.067﻿ (﻿3﻿)
﻿  ﻿PetaboxLoader3.datanode﻿: ﻿95.5﻿ (﻿5﻿)
﻿  ﻿load_resource﻿: ﻿259.159﻿ (﻿2﻿)
﻿  ﻿PetaboxLoader3.resolve﻿: ﻿180.11﻿ (﻿2﻿)
﻿*/